#underline() { text-decoration: underline; };
#pointer() { cursor: pointer; };

#flex() { display: flex; };
#grid() { display: grid; };


#flex-col() { #flex(); flex-direction: column; };
#flex-row() { #flex(); flex-direction: row; };


#round-corner() { border-radius: clamp(0.2rem 8px 0.8rem); };

#font-pop() { font-family: @font-pop };

#weight-300() { font-weight: 300 };
#weight-400() { font-weight: 400 };
#weight-500() { font-weight: 500 };
#weight-600() { font-weight: 600 };

#base() { padding: 0; margin: 0; }

#list-base() { list-style-type: none; padding: 0; }

#clear-border() { border: 1px solid transparent; };
#m-auto() { margin: auto; };
