
@font-stack: system-ui Avenir,  Helvetica, Arial, sans-serif;
@font-pop: Poppins;

@text: rgba(255, 255, 255, 0.87);
@bg: rgba(24, 24, 2, 0.91);

@light--bg: #ffffff;
@light--text: #213547;
@light--bg--btn: #f9f9f9;
@light--link--hover: #747bff;



@weight: 400;
@line-height: 1.5;

@card-pad: 2em;


@ds-1: drop-shadow(0 0 2em #646cffaa);
@ds-2: drop-shadow(0 0 2em #61dafbaa);

@spin-start: rotate(0deg);
@spin-end: rotate(360deg);
@spin-animation: spin infinite 20s linear;

@wk-ring: -webkit-focus-ring-color;

@mobile: 600px;
@tablet: 720px;
@laptop: 920px;
@pc: 1200px;
